# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs
*.log
npm-debug.log*

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mac OS specific files
.DS_Store

# Editor directories and files
.vscode/
.idea/data/*
!data/.gitkeep
